<button type="submit" class="auth-btn" ng-click="authorize(user)" ng-disabled="form.$invalid">
  <span class="auth-btn__real-text-holder">
    <span class="auth-btn__real-text">{{ btn_text }}</span>
    <span class="auth-btn__moving-block face">
      <span class="auth-btn__text-holder">
        <span class="auth-btn__text">{{ btn_text }}</span>
      </span>
    </span>
    <span class="auth-btn__moving-block back">
      <span class="auth-btn__text-holder">
        <span class="auth-btn__text">{{ btn_text }}</span>
      </span>
    </span>
  </span>
</button>
