@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600,700,800);

$main: #303F9F;

body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

.signout-btn {
  float: right;
  margin-top: 10px;
}

.error-messages {
  color: red;
  text-align: left;
}

.user-info {
  width: 35%;
  margin: 3em 3em 3em 3em;
  padding-left: 1em;
  padding-top: 1em;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.16);
}

.trades {
  margin-left: 2em;
  margin-right: 2em;
}
