<!doctype html>
<html>
    <head>
      <title>Trade</title>
      <script type="text/javascript">
      </script>
      <script type="text/javascript" src="static/bower_components/angular/angular.min.js"></script>
      <script type="text/javascript" src="static/bower_components/angular-route/angular-route.min.js"></script>
      <script type="text/javascript" src="static/bower_components/angular-messages/angular-messages.min.js"></script>
      <script type="text/javascript" src="static/bower_components/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
      <link rel="stylesheet" href="static/bower_components/font-awesome/css/font-awesome.min.css"></link>
  		<script type="text/javascript" src="static/app.js"></script>
      <script type="text/javascript" src="static/auth/auth.controller.js"></script>
      <script type="text/javascript" src="static/asdf/asdfLogo.directive.js"></script>
      <script type="text/javascript" src="static/auth/bgEffect.component.js"></script>
      <script type="text/javascript" src="static/auth/checkDb.directive.js"></script>
      <script type="text/javascript" src="static/auth/compareTo.directive.js"></script>
      <script type="text/javascript" src="static/auth/checkPw.directive.js"></script>
      <script type="text/javascript" src="static/auth/authBtn.directive.js"></script>
      <script type="text/javascript" src="static/info/info.controller.js"></script>
      <script type="text/javascript" src="static/info/trades.directive.js"></script>
      <script type="text/javascript" src="static/services/auth.factory.js"></script>
      <script type="text/javascript" src="static/services/user.factory.js"></script>
      <script type="text/javascript" src="static/services/trade.factory.js"></script>
  		<link rel="stylesheet" href="static/css/styles.css" />
  		<link rel="stylesheet" href="static/css/asdf.css" />
  		<link rel="stylesheet" href="static/css/auth.css" />
  		<link rel="stylesheet" href="static/css/info.css" />
    </head>
    <body ng-app="app">
			<div ng-view></div>
    </body>
</html>
