@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600,700,800);

$main: #303F9F;

body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

.signout-btn {
  float: right;
  margin-top: 10px;
}
.error-messages {
  color: red;
  text-align: left;
}
