<!doctype html>
<html>
    <head>
      <title>Trade</title>
      <script type="text/javascript">
      </script>
      <script src="{{ yarn_url_for('yarn.static', filename='angular/angular.min.js') }}"></script>
      <script src="{{ url_for('yarn.static', filename='angular-route/angular-route.min.js') }}"></script>
      <script src="{{ url_for('yarn.static', filename='angular-messages/angular-messages.min.js') }}"></script>
      <!-- <script src="{{ url_for('yarn.static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script> -->
      <script src="{{ url_for('yarn.static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('yarn.static', filename='bootstrap/dist/css/bootstrap.min.css') }}" />
      <link rel="stylesheet" href="{{ url_for('yarn.static', filename='font-awesome/css/font-awesome.min.css') }}"></link>
  		<script src="{{ url_for('static', filename='app.js') }}"></script>
      <script src="static/auth/auth.controller.js"></script>
      <script src="static/asdf/asdfLogo.directive.js"></script>
      <script src="static/auth/bgEffect.component.js"></script>
      <script src="static/auth/checkDb.directive.js"></script>
      <script src="static/auth/compareTo.directive.js"></script>
      <script src="static/auth/checkPw.directive.js"></script>
      <script src="static/auth/authBtn.directive.js"></script>
      <script src="static/info/info.controller.js"></script>
      <script src="static/info/trades.directive.js"></script>
      <script src="static/services/auth.factory.js"></script>
      <script src="static/services/user.factory.js"></script>
      <script src="static/services/trade.factory.js"></script>
  		<link rel="stylesheet" href="static/css/styles.css" />
  		<link rel="stylesheet" href="static/css/asdf.css" />
  		<link rel="stylesheet" href="static/css/auth.css" />
  		<link rel="stylesheet" href="static/css/info.css" />
    </head>
    <body ng-app="app">
			<div ng-view></div>
    </body>
</html>
